<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Meu Site</title>
    <meta charset="utf-8" />
</head>
<body>
    <header>
        <h1>Meu cabeçalho</h1>
    </header>

    <main>
        @RenderBody() <!-- ESSA LINHA É OBRIGATÓRIA -->
    </main>

    <footer>
        <p>Rodapé</p>
    </footer>
</body>
</html>
