<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - Meu Site</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/landing.css" />
</head>
<body>

    <main>
        @RenderBody() <!-- ESSA LINHA É OBRIGATÓRIA -->
    </main>

</body>
</html>
