@model Evento

@{
    ViewData["Title"] = "Criar Evento";
}

<main>
    <div class="card">
        <div class="card-header">
            <h5 class="">Cadastro de Evento</h5>
        </div>

        <div class="card-body">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group mb-3">
                            <label asp-for="Titulo" class="form-label">Título</label>
                            <input asp-for="Titulo" class="form-control" placeholder="Digite o título" />
                            <span asp-validation-for="Titulo" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="DataHora" class="form-label">Data e Hora</label>
                            <input asp-for="DataHora" class="form-control" type="datetime-local" />
                            <span asp-validation-for="DataHora" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="Local" class="form-label">Local</label>
                            <input asp-for="Local" class="form-control" placeholder="Digite o local" />
                            <span asp-validation-for="Local" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group mb-3">
                            <label asp-for="Conteudo" class="form-label">Conteúdo</label>
                            <textarea asp-for="Conteudo" class="form-control" rows="4" placeholder="Descreva o conteúdo do evento"></textarea>
                            <span asp-validation-for="Conteudo" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group mb-3">
                            <label asp-for="Meta" class="form-label">Meta</label>
                            <input asp-for="Meta" class="form-control" placeholder="Digite a meta do evento" />
                            <span asp-validation-for="Meta" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="card-footer d-flex justify-content-between">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-light">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
