<!-- Sidebar -->
<aside class="sidebar collapsed" id="sidebar">
    <div class="sidebar-header">
        <a href="/" class="sidebar-logo">
            <i class="ph-pen"></i>
            <span>SETIC</span>
        </a>
        <button class="sidebar-toggle d-block d-lg-none" id="sidebar-toggle" aria-label="Fechar menu">
            <i class="ph-x"></i>
        </button>
    </div>
    <div class="sidebar-content">
        <div class="sidebar-section">
            <div class="sidebar-section-title">Principal</div>
            <ul class="sidebar-menu">
             <li class="sidebar-menu-item">
                  <a href="/Home/Landing" class="sidebar-menu-link has-tooltip" data-tooltip="Dashboard">
                      <span class="sidebar-menu-icon"><i class="ph-house"></i></span>
                      <span class="sidebar-menu-text">Ir para Evento</span>
                      <span class="tooltip top">Evento</span>
                  </a>
              </li>
                <li class="sidebar-menu-item">
                    <a href="/produtos" class="sidebar-menu-link has-tooltip" data-tooltip="Produtos">
                        <span class="sidebar-menu-icon"><i class="ph-bag"></i></span>
                        <span class="sidebar-menu-text">Produtos</span>
                        <span class="tooltip top">Infoprodutos</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</aside>

<!-- Mobile Tooltip -->
<div class="mobile-tooltip" id="mobile-tooltip"></div>
